.react_fast_diagram_DiagramInner {
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: relative;
  overflow: hidden;
  touch-action: none;
}

.react_fast_diagram_DiagramInner * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

.react_fast_diagram_DiagramInner_DraggablePart {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: visible;
  transform-origin: 0px 0px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  /* useGestures hook use targetTouches instead of simply touches, 
  so we should set this property to Movable, otherwise if user put 
  one finger above Movable and another above DiagramInner, the hook 
  will not trigger pinch gesture */
  pointer-events: none; 
}

.react_fast_diagram_DiagramInner_DraggablePart > * {
  overflow: visible;
}

.react_fast_diagram_NodeWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: fit-content; 
  height: fit-content;
  pointer-events: auto; 
  user-select: none;
}

.react_fast_diagram_Node_Default {
  min-width: 10px;
  min-height: 10px;
  border-radius: 3px;
  background-color: white;
  border: #9e9e9e solid 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 15px;
  font-size: small;
}

.react_fast_diagram_PortContainer_Default {
  display: flex;
  align-items: center;
  justify-content: center;
}

.react_fast_diagram_PortContainer_Default_Horizontal > * {
  margin: 0 5px;
}

.react_fast_diagram_PortContainer_Default_Vertical > * {
  margin: 5px 0;
}

.react_fast_diagram_PortContainer_Default_Horizontal {
  flex-direction: row;
  width: 100%;
}

.react_fast_diagram_PortContainer_Default_Vertical {
  flex-direction: column;
  height: 100%;
}

.react_fast_diagram_Node_Default > * {
  text-align: center;
  margin: auto;
}

.react_fast_diagram_disabled_user_select {
  user-select: none;
}

.react_fast_diagram_Port_Default {
  height: 25px;
  width: 25px;
  border-radius: 3px;
  border-color: wheat;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.react_fast_diagram_BackgroundWrapper {
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.react_fast_diagram_Background_Default {
  height: 100%;
  width: 100%;
}

.react_fast_diagram_Minicontrol_Default {
  position: absolute;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.react_fast_diagram_Minicontrol_Default_Btn {
  background-color: white;
  border: 1px solid rgb(209, 209, 209);
  letter-spacing: normal;
  display: inline-flex;
  text-align: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  font-weight: bold;
}

.react_fast_diagram_Minicontrol_Default_Btn > * {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media (hover: hover) {
  .react_fast_diagram_Minicontrol_Default_Btn:hover {
    background-color: rgb(228, 228, 228);
    border: 1px solid rgb(209, 209, 209)
  }
}

/* Containers with gap between items */

.react_fast_diagram_flex_gap {
  --gap: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.react_fast_diagram_flex_gap_y {
  flex-direction: column;
  height: 100%;
}

.react_fast_diagram_flex_gap_y > * {
  margin: var(--gap) 0 0 0;
}

.react_fast_diagram_flex_gap_y > :first-child {
  margin: 0;
}

.react_fast_diagram_flex_gap_x {
  flex-direction: row;
  width: 100%;
}

.react_fast_diagram_flex_gap_x > * {
  margin: 0 0 0 var(--gap);
}

.react_fast_diagram_flex_gap_x > :first-child {
  margin: 0;
}

/* Containers with gap between items */