.react_fast_diagram_DiagramInner {
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: relative;
  overflow: hidden;
}

.react_fast_diagram_DiagramInner * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.react_fast_diagram_DiagramInner_DraggablePart {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: visible;
  transform-origin: 0px 0px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  /* useGestures hook use targetTouches instead of simply touches, 
  so we should set this property to Movable, otherwise if user put 
  one finger above Movable and another above DiagramInner, the hook 
  will not trigger pinch gesture */
  pointer-events: none; 
}

.react_fast_diagram_DiagramInner_DraggablePart > * {
  overflow: visible;
}

.react_fast_diagram_NodeWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: fit-content; 
  height: fit-content;
  pointer-events: auto; 
  user-select: none;
}

.react_fast_diagram_Node_Default {
  width: 100px;
  height: 100px;
  background-color: white;
  border: 2px solid WhiteSmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
}

.react_fast_diagram_Node_Default * {
  text-align: center;
  margin: auto;
}

.react_fast_diagram_disabled_user_select {
  user-select: none;
}